<div class="wrapper">
  <div class="page-header" style="background-image: url('../assets/img/406H.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Edit Your Profile</h3>

            <!--====================== EDIT PROFILE ======================-->

            <form class="register-form" method="post" action="/forms" enctype="multipart/form-data">
              <label for="avatar-input"> Change Your Avatar </label>
              <input id="avatar-input" type="file" name="editAvatar" />

              <label for="full-name-input"> Full Name </label>
              <input id="full-name-input" type="text" placeholder="e.g. Khal Drogo" name="editFullName" value="" />

              <label for="username-input"> Username </label>
              <input id="username-input" type="text" placeholder="e.g. Khal Drogo" name="editUsername" value="" />

              <button class="btn btn-danger btn-block btn-round">Save</button>
            </form>
            <!--====================== EDIT PROFILE ======================-->

          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Ariel Fonticiella</h6>
      </div>
    </div>
  </div>
</div>
